<form fxLayout="column" 
     fxLayoutAlign="center center" 
     style="padding: 40px;"
     [formGroup]="miFormulario"
     (ngSubmit)="login()">
    <mat-card-header>
        <mat-card-title style="font-size: 39px;">
            Login
        </mat-card-title>
    </mat-card-header>
      <mat-card-content style="padding-top: 20px;">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="auth-input">
                            <input matInput 
                                   placeholder="Nombre de Usuario"
                                   formControlName="name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> 
                        <mat-form-field class="auth-input">
                            <input matInput 
                                   placeholder="Contraseña" 
                                   type="password"
                                   formControlName="password">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        <!-- <mat-spinner></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                    type="submit" 
                    color="primary">
                    Login
            </button>
        </mat-card-actions>

            <span>¿No tienes una cuenta?</span>
            <a routerLink="/auth/registro">Crear Cuenta</a>
</form>

 
        
  

