<mat-sidenav-container style="background: none;" 
                       fullscreen>
    <mat-sidenav #sidenav 
                 style="background: black;" 
                 mode="push">

        <mat-toolbar style="background: none;">
            <span>Menú</span>
            <!-- spacer: Clase para el espacio -->
            <span class="spacer"></span>
            <button mat-mini-fab
                    color="primary"
                    (click)="sidenav.toggle()">
                    <span class="material-icons">
                        close
                    </span>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./bienvenida"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon
                         color="primary">
                         home
                </mat-icon>
                <span>Inicio</span>
            </a>

            <a routerLink="./listado"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon
                         color="primary">
                         list
                </mat-icon>
                <span>Razas de Gatos</span>
            </a>

            <a routerLink="./buscar"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon
                         color="primary">
                         search
                </mat-icon>
                <span>Buscar Gato</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>
    <mat-toolbar fxLayout="row" 
                 fxLayoutAlign="space-between center" 
                 style="background: none;">
        <div fxLayout="row"
             fxLayoutAlign="center center">
            <button mat-mini-fab 
                color="primary" 
                (click)="sidenav.toggle()">
                <mat-icon>format_align_justify</mat-icon>
            </button>
                <h1 class="title">Gatitos App</h1>
        </div>
            
        <div>
            <span style="margin-right: 10px;">Usuario</span>
            <button mat-stroked-button 
                    color="primary"
                    (click)="logout()">
                Logout
            </button>
        </div>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>

